{% extends 'login_auth/user_base.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h1 class="display-5">Exercise</h1>
        </div>
    </div>
    <div class="row">
        {% for exercise  in exercises %}
            <div class="col-md-5">
                <div class="card">
                    <h1 class="card-title">{{exercise.title}}</h1>
                    <div class="card-body">
                        <p>{{exercise.description}}</p>
                        <p>{{exercise.duration}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}