{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner::Home</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'scss/users.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            {% block sidebar %}
                {% include 'login_auth/includes/sidebar.html' %}
            {% endblock sidebar %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    {% block content %}{% endblock content %}
            </main>
        </div>
    </div>

    {%bootstrap_javascript%}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>