<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <ion-icon name="person-outline"></ion-icon> {{user.username}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'users:home' %}">
                    <ion-icon name="star-outline"></ion-icon> Meals
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">
                    <ion-icon name="alert-circle-outline"></ion-icon> Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
